# 1 Exploratory Analysis: Pokemon (5 points)

In [6]:
import pandas as pd

pokemon_link = 'https://raw.githubusercontent.com/CUNY-CISC-3225/datasets/refs/heads/main/pokemon.csv'
pokemon_df = pd.read_csv(pokemon_link)
pokemon_df.head(10)

,attack,base_happiness,cap_rate,defense,exp_growth,height,hp,name,pokedex_number,speed,type_1,type_2,weight,generation,is_legendary
0,49,70,45,49,1059860,0.7,45,Bulbasaur,1,45,grass,poison,6.9,1,0
1,62,70,45,63,1059860,1.0,60,Ivysaur,2,60,grass,poison,13.0,1,0
2,100,70,45,123,1059860,2.0,80,Venusaur,3,80,grass,poison,100.0,1,0
3,52,70,45,43,1059860,0.6,39,Charmander,4,65,fire,NaN,8.5,1,0
4,64,70,45,58,1059860,1.1,58,Charmeleon,5,80,fire,NaN,19.0,1,0
5,104,70,45,78,1059860,1.7,78,Charizard,6,100,fire,flying,90.5,1,0
6,48,70,45,65,1059860,0.5,44,Squirtle,7,43,water,NaN,9.0,1,0
7,63,70,45,80,1059860,1.0,59,Wartortle,8,58,water,NaN,22.5,1,0
8,103,70,45,120,1059860,1.6,79,Blastoise,9,78,water,NaN,85.5,1,0
9,30,70,255,35,1000000,0.3,45,Caterpie,10,45,bug,NaN,2.9,1,0

# 2 Grouping (2 points)

# 3 Hierarchical Indexing (3 points)